
<div class="container" >

 <div class="col-md-12">
  <div class="row sidebar_first">
  <div class="col-md-4">
<div class="" style="width: 18rem;">'
 <div class="sidebar_f_img">
  {{ content.field_sidebar_f_image.0 }}
  </div>
  <div class="card-body sidebar_f_title_desc">
    <h5 class="card-title">{{ content.field_sidebar_f_title.0 }}</h5>
    <p class="card-text">  {{ content.field_sidebar_description.0 }}.</p>
    </div>
  </div>
  </div>
  <div class="col-md-4">
  <div class="" style="width: 18rem;">'
 <div class="sidebar_f_img">
  {{ content.field_sidebar_f_image.1 }}
  </div>
  <div class="card-body sidebar_f_title_desc">
    <h5 class="card-title">{{ content.field_sidebar_f_title.1 }}</h5>
    <p class="card-text">  {{ content.field_sidebar_description.1 }}</p>
    </div>
  </div>

  </div>

<div class="col-md-4">

 <div class="" style="width: 18rem;">'
 <div class="sidebar_f_img ">
  {{ content.field_sidebar_f_image.2 }}
  </div>
  <div class="card-body sidebar_f_title_desc">
    <h5 class="card-title">{{ content.field_sidebar_f_title.2 }}</h5>
    <p class="card-text">  {{ content.field_sidebar_description.2 }}.</p>
    </div>
  </div>

  </div>
</div>
</div>
</div>