
<div class="content-wrapper">  
 <div class="content-img"> {{ content.field_content_image }} </div>
   
     <div class="content-upper-text">
      <div class="content_title col-md-3">
     {{ content.field_content_title }}  
      </div>

      <div class="content-text">
        <em> {{ content.field_content_text }}   </em>
     </div>
     
     <div class="btn content_link">
     {{ content.field_content_link }}
          </div>
  <div class="content_body col-md-4">
    {{ content.field_content_body }}
  </div>
  
 
</div>  
</div>



 