<!--
<div class="sidebar-second_ml">
 <div class="col-md-12">
-->
 <div class="container">
  <div class="row">
   <div class="col-md-4">
    <div class="color-title">
 {{ content.field_sidebar_second_title }} 
     </div>
  <div class="color-body">
    <div class="col-md-12">
{{ content.field_sidebar_second_description }}
    </div>
  </div>
  </div>

  <div class="col-md-4">
  <div class="color-title">
  {{ content.field_sidebar_second_title2 }} 
    </div>
  <div class="color-body">
    <div class="col-md-12">
{{ content.field_sidebar_second_body2 }}
    </div>
    </div>
    </div>
  <div class="col-md-4">
  <div class="color-title">
{{ content.field_sidebar_second_title3 }} 
    </div>
<div class="color-body">
<div class="col-md-12">
{{ content.field_sidebar_second_body3 }}
   
    </div>
   </div>
</div>
</div>
</div>